@model IEnumerable<MovieLayeredWithoutPictures.BLL.DTO.MovieDTO>


@{
    ViewBag.Title = "Index";    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="padding-top:30px; margin-bottom:20px;">
    <h1 class="text-lg-center; text-muted;">Это страница Views/Movie/Index</h1>    
    <hr />
    <h2>Информация о 10 лучших фильмах (Layered Architecture)</h2>

    <div style="margin-bottom:10px">
        <a href="@Url.Action("Create","Movie")" class="btn btn-primary">Добавить фильм</a>
    </div>

</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2">
            <div class="card" style="margin-bottom:10px;">                
                <div class="card-body">
                    <div class="card-title" style="white-space:normal; margin-bottom:10px">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div style="margin-bottom:10px">
                        <a href="@Url.Action("Edit","Movie",new{id=item.Id})" class="btn btn-secondary">Редактировать</a>
                    </div>
                    <div style="margin-bottom:10px">
                        <a href="@Url.Action("Details","Movie",new{id=item.Id})" class="btn btn-secondary">Детали</a>
                    </div>
                    <div style="margin-bottom:10px">
                        <a href="@Url.Action("Delete","Movie",new{id=item.Id})" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
